<h1>All Ads</h1>
<% @advertisements.each do |i| %>
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">
                <%= link_to i.title, post_path(i.id) %>
            </h4>
        </div>
    </div>
<% end %>