<h1>All Posts</h1>
<form action="/posts/new">
    <input class = btn-primary type="submit" value="Create a New Post" />
</form>
<% @posts.each do |post| %>
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">
                <%= link_to post.title, post_path(post.id) %>
            </h4>
        </div>
    </div>
<% end %>